---
apiVersion: v1
data:
  password: WVdSdGFXND0=
  user: WVdSdGFXND0=
kind: Secret
metadata:
  name: grafana-credentials
  namespace: {{ namespace }}
type: Opaque
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: grafana
  namespace: {{ namespace }}
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: grafana
  namespace: {{ namespace }}
spec:
  host: grafana-{{ namespace }}.apps.dev.home.61will.space
  to:
    kind: Service
    name: grafana
    weight: 100
  wildcardPolicy: None
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: grafana
  name: grafana
  namespace: {{ namespace }}
spec:
  ports:
  - name: grafana
    port: 3000
    protocol: TCP
    targetPort: web
  selector:
    app: grafana
  sessionAffinity: None
  type: ClusterIP
