apiVersion: v1
kind: Service
metadata:
  labels:
    app: prometheus
  name: prometheus
  namespace: {{ namespace }}
spec:
  ports:
  - name: prometheus
    port: {{ sa_telemetry_prometheus_service_port }}
    protocol: TCP
    targetPort: {{ sa_telemetry_prometheus_service_targetport }}
  selector:
    app: prometheus
  sessionAffinity: None
  type: ClusterIP
